body {
  background-color: #9b59b6;
  color: white;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2em;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

nav ul li {
  list-style-type: none;
  margin: 0 10px;
}

main, aside {
  display: flex;
}

main {
  flex: 3;
  margin-right: 30px;
}

aside {
  flex: 1;
}

footer {
  text-align: center;
  margin-top: 30px;
}